body{
  margin: 0;
  box-sizing: border-box;
  display: flex;
  height: 75vh;
}
.game-container{
  margin: 100px auto;
}
.results{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.resetBtn{
  margin-top: 100px;
  width: 130px;
  height: 30px;
  background: transparent;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
}
#playerResult, #computerResult{
  width: 50px;
  height: 50px;
  margin: 25px 50px;
  background: transparent;
  border: 0;
}
.score-board-container{
  display: flex;
  flex-direction: column;
}
.score-board{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 600px;
  margin: 25px 50px;
}
.score-box{
  display: flex;
  flex-direction: column;
}
.select-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#rock, #paper, #scissors{
  width: 100px;
  height: 100px;
  margin: 50px;
  background: transparent;
  border: 0;
}
#message, #playerScore, #computerScore{
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.round-board {
  display: flex;
  flex-direction: row;
  place-content: center;
}
#round {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}
.round-text {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}


